config.dtd

<!ELEMENT configuration (contactForm, contactInfo)>
<!ELEMENT contactForm (title, helpText, fields, submitButton)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT helpText (#PCDATA)>
<!ELEMENT fields (field+)>
<!ELEMENT field (label, id, type)>
<!ELEMENT label (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT submitButton (#PCDATA)>
<!ELEMENT contactInfo (email, phone, cvLink)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT cvLink (#PCDATA)>